<mat-tab-group mat-align-tabs='center'>
  <!-- <ng-container *ngFor="let r of routeList"> -->
  <mat-tab label="promise-demo1"><app-promise-demo1></app-promise-demo1></mat-tab>
  <mat-tab label="promise-demo2"><app-promise-demo2></app-promise-demo2></mat-tab>
  <mat-tab label="demo1"><app-demo1></app-demo1></mat-tab>
  <mat-tab label="demo2"><app-demo2></app-demo2></mat-tab>
  <mat-tab label="demo3"><app-demo3></app-demo3></mat-tab>
  <mat-tab label="demo4"><app-demo4></app-demo4></mat-tab>
  <!-- </ng-container> -->
</mat-tab-group>
